/* Общие стили */
body {
    font-family: 'Lora', serif;
    background-color: #ffff78; /* Белый */
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Стили для header */
header {
    background-color: rgba(245, 140, 120, 0.7); /* Розовый */
    position: fixed;
    width: 100%;
    padding: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.logo svg {
    width: 200px;
    height: 50px;
}

.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo svg {
    width: 200px;
    height: 50px;
}

.fancy-text {
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: bold;
    fill: url(#grad1);
    text-anchor: middle;
    stroke: black;
    stroke-width: 1;
}

.cart {
    background-color: rgba(0, 0, 0, 0); /* Черный */
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
}

/* Стили для основного контента */
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 2em;
    background-color: #f4f3ef;
}

/* Стили для букетов */
.bouquets-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.vizit {
    padding-bottom: 20px;

    width: 98.75vw;
    margin: -4.2vh auto auto 0;
    display: block;
}

.vizit-mobile {
    padding-bottom: 20px;
    width: 98.75vw;
    margin: -4.2vh auto auto 0;
    display: none;
}

.welcome-message {
    text-align: center;
    margin-bottom: 2em;
    padding: 2em;
    background-color: #f9f9f9; /* Нежно-бежевый */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-message {
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
    padding: 0 5%;
}
.category-name {
    margin-top: 15px;
    font-size: 3em;
    text-align: center;
}

.welcome-message h1 {
    color: #333;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin-bottom: 1em;
}

.welcome-message p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 1em;
    line-height: 1.6;
}

.category-filters {
    margin-bottom: 2em;
    text-align: center;
}

.category-filters h2 {
    color: #333;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.category-filters ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.category-filters ul li {
    margin: 0 10px 10px 0;
}

.category-filters ul li a {
    text-decoration: none;
    color: #333;
    font-family: 'Lora', serif;
    font-size: 1em;
    background-color: #f0d8d8; /* Нежно-персиковый */
    padding: 0.5em 1em;
    border-radius: 5px;
}

.category-filters ul li a:hover {
    background-color: #e6b8b8; /* Темнее нежно-персиковый */
}

.flowers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2em;
    background-color: #f4f3ef;
}

.flower-card {
    background-color: #f4f3ef;
    margin-top: 2em;
    margin-bottom: 2em;
    text-decoration: none;
    width: calc(33.33% - 2em);
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}

.flower-card:hover {
    text-decoration: none;
}

.flower-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}


.flower-info {
    background-color: #fffff8; /* Белый */
    border-radius: 0 0 8px 8px;
}

.flower-info h2 {
    margin-top: 0.5em;
    color: #333333;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: normal; /* Убираем выделение текста */
}

.flower-info p {
    color: #666666;
    font-family: 'Lora', serif;
    font-size: 1em;
    font-weight: normal; /* Убираем выделение текста */
}

/* Стили для формы добавления цветка */
.add-flower-container {
    background-color: #ffffff; /* Белый */
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2em auto;
}

.add-flower-container h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-textarea {
    height: 100px;
    resize: vertical;
}

.form-button {
    display: block;
    width: 100%;
    padding: 0.7em;
    background-color: #000; /* Черный */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.form-button:hover {
    background-color: #ddd; /* Светло-серый */
}

/* Стили для footer */
footer {
    background-color: #f58c78; /* Розовый */
    color: white;
    text-align: center;
    padding: 2em 0;
    margin-top: auto;
}

.footer-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.footer-content h2 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.footer-content h3 {
    color: white;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.footer-content p {
    color: white;
    margin: 0.5em 0;
    font-size: 1.1em;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}

.social-icons a {
    margin: 0 10px;
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3); /* Увеличиваем прозрачность */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 56px;
    font-weight: bold;
    margin-right: 5%;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-item {
    background-color: #ffffff;
    border-bottom: #333333 1px solid;
    border-top: #333333 1px solid;
    margin-bottom: 10px;
}

.cart-item {
    display: table;
    width: 100%; /*Optional*/
}

.img-carts {
    float: left;
    display: table-cell;
    max-width: 15%;
}

.name-products {
    float: left;
    margin-left: 6px;
    width: 67%;
    display: table-cell;
}

.cost-div {
    float: left;
    width: 15%;
}

.mark-del {
    float: right;
    width: 3%;
}


.remove-from-cart-mark {
    border-radius: 5px;
    color: #888;
    font-size: 28px;
    cursor: pointer;
    text-decoration: none;
    float: right;
}

.remove-from-cart-mark:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.cart-summary {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.cart-summary p {
    font-size: 1.5em;
    margin: 10px 0;
}

.checkout-button {
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
}

.checkout-button:hover {
    background-color: #ddd;
}

.checkout-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.admin-panel-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin: 2em auto;
    padding: 2em;
}
.admin-panel-container button{
    width: 45%;
}
/* Стили для страницы товара */
.flower-details {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin: 2em auto;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.flower-images-description {
    display: flex;
    width: 100%;
}

.flower-images {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
}

.main-image {
    margin-bottom: 1em;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.flower-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f3ef;
}

.flower-info h1 {
    color: #333;
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 1em;
}

.flower-info p {
    color: #666;
    font-family: 'Lora', serif;
    font-size: 1em;
    margin-bottom: 1em;
}

.add-to-cart-button {
    background-color: rgba(245, 140, 120, 0.7);
    color: white;
    padding: 0.7em 1.4em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    align-self: flex-start;
}

.add-to-cart-button:hover {
    background-color: rgba(245, 140, 120, 0.9);
    text-decoration: none;
    color: white;
}

.lgo {
    display: none;
}

.logo-full {
    display: block;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {
    .flower-card {
        width: calc(33.33% - 2em);
    }
}

@media (max-width: 990px) {
    .flower-card {
        width: calc(50% - 2em);
    }

    .logo-full {
        display: none;
    }

    .lgo {
        display: block;
        font-size: 2em;
    }

    .vizit-mobile {
        display: block;
    }

    .vizit {
        display: none;
    }
}

@media (max-width: 600px) {
    .img-carts {
        float: left;
        display: table-cell;
        max-width: 15%;
    }

    .name-products {
        float: left;
        margin-left: 20px;
        width: 55%;
        display: table-cell;
    }

    .cost-div {
        float: left;
        width: 15%;
        margin-top: 0.8em;
    }

    .mark-del {
        float: right;
        width: 3%;
    }
    .flower-card {
        width: calc(100% - 2em);
    }

    .flower-details {
        flex-direction: column;
        align-items: center;
    }

    .flower-images-description {
        flex-direction: column;
        width: 100%;
    }

    .flower-images {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .vizit-mobile {
        display: block;
    }

    .vizit {
        display: none;
    }

}

@media (max-width: 768px) {
    .flower-card {
        width: calc(50% - 2em);
    }

    .flower-details {
        flex-direction: column;
        align-items: center;
    }

    .flower-images-description {
        flex-direction: column;
        width: 100%;
    }

    .flower-images {
        margin-right: 0;
        margin-bottom: 1em;
    }

    .container {
        max-width: 100%;
    }

    .logo-full {
        display: none;
    }
    .lgo {
        display: block;
        font-size: 2em;
    }

    .vizit-mobile {
        display: block;
    }

    .vizit {
        display: none;
    }

}

/* Стили для полупрозрачного слоя */
.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 10, 0.1);
    z-index: 10;
}

/* В styles.css */
.flash-messages {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: white;
}

.alert-success {
    background-color: #4CAF50;
}

.alert-error {
    background-color: #f44336;
}

.create-promo-code-container {
    background-color: #ffffff; /* Белый */
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2em auto;
}

.create-promo-code-container h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-textarea {
    height: 100px;
    resize: vertical;
}

.form-button {
    display: block;
    width: 100%;
    padding: 0.7em;
    background-color: #000; /* Черный */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.form-button:hover {
    background-color: #ddd; /* Светло-серый */
}

.promo-code-result {
    margin-top: 2em;
    text-align: center;
}

.promo-code-result h2 {
    color: #333;
    margin-bottom: 1em;
}

.promo-code-result p {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.name-and-close {
    display: table;
}

