<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>desFleur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lora:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <link rel="SHORTCUT ICON" href="../static/images/logo.png" type="image/x-icon">
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-messages">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" id="flash-message-{{ loop.index }}">{{ message }}</div>
    <script>
        setTimeout(function() {
            document.getElementById('flash-message-{{ loop.index }}').style.display = 'none';
        }, 3000);
    </script>
    {% endfor %}
</div>
{% endif %}
{% endwith %}
<header>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
        <div class="lgo">
            <a href="/" style="color: white;text-decoration: none;">DesFleur</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle btn" href="#" id="categoriesDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white">
                        Категории
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <a class="dropdown-item" href="{{ url_for('index') }}">Все категории</a>
                        {% for category in categories %}
                        <a class="dropdown-item" href="{{ url_for('index') }}?category={{ category }}">{{ category
                            }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            <div class="logo-full" style="margin-right: 35%">
                <a href="{{ url_for('index') }}" class="logo">
                    <svg width="200" height="50" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <lineargradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                <stop offset="0%" style="stop-color:rgb(170,170,170);stop-opacity:1"/>
                                <stop offset="100%" style="stop-color:rgb(255,255,255);stop-opacity:1"/>
                            </lineargradient>
                        </defs>
                        <text x="50%" y="50%" class="fancy-text" dominant-baseline="middle" text-anchor="middle">
                            DesFleur
                        </text>
                    </svg>
                </a>
            </div>
            <p class="mr-auto"></p>
            <p class="mt-1 mb-1">
                <button id="cart-button" class="cart">Корзина (<span id="cart-count">{{ session.get('cart', [])|length }}</span>)
                </button>
            </p>
        </div>
    </nav>
</header>
<div class="main-content">
    <div class="container1">
        {% block content %}{% endblock %}
    </div>
</div>
<footer>
    <div class="footer-content">
        <h2>Свяжитесь с нами</h2>
        <p>Вы можете задать вопросы и оформить заказ по телефону или в наших социальных сетях</p>
        <h3>Наш номер:</h3>
        <p><a href="tel:+79636676555">+7(963)-667-65-55</a></p>
        <h3>Наши соцсети:</h3>
        <div class="social-icons">
            <a href="https://t.me/desfleur_mykinino" target="_blank">
                <img src="{{ url_for('static', filename='images/telegram.svg') }}" alt="Telegram"
                     style="width: 24px; height: 24px; vertical-align: middle;">
            </a>
            <a href="https://vk.com/id871975525" target="_blank">
                <img src="{{ url_for('static', filename='images/vk.svg') }}" alt="VK"
                     style="width: 24px; height: 24px; vertical-align: middle;">
            </a>
            <a href="https://wa.me/79636676555" target="_blank">
                <img src="{{ url_for('static', filename='images/whatsapp.svg') }}" alt="WhatsApp"
                     style="width: 24px; height: 24px; vertical-align: middle;">
            </a>
        </div>
        <h3>Наш адрес:</h3>
        <p><a href="https://yandex.ru/navi/org/desfleur/204205974366/?ll=37.348976%2C55.801481&z=16" target="_blank">г. Москва, квартал №100, д. 1, корп. 1</a></p>
        <p>
            <a href="https://yandex.ru/maps/213/moscow/house/prospekt_mira_88s1/Z04YcARnSEQGQFtvfXt4cn5hYw==/?ll=37.637110%2C55.792145&z=13.77"
               target="_blank">г. Москва, проспект Мира, 88с1, торговое место 30-31</a></p>
    </div>
</footer>

<!-- Полупрозрачный слой для блокировки контента -->
<div id="modal-backdrop" class="modal-backdrop"></div>

<!-- Модальное окно корзины -->
<div id="cart-modal" class="modal">

    <span class="close-button">&times;</span>
    <div class="modal-content">
        <h2>Ваш заказ:</h2>
        <div class="mt-4" id="cart-items">
            {% for item in session.get('cart', []) %}
                <div class="cart-item" data-flower-id="{{ item[0] }}">
                    <div class="img-carts">
                        <img style="height: 8vh" src="../${item.image}" alt="${item.name}">
                    </div>
                    <div class="name-products">
                        <span>${item.name} (x${item.quantity})</span>
                    </div>
                    <div class="cost-div">
                        <span class="cost">${item.price * item.quantity} р.</span>
                    </div>

                    <div class="mark-del">
                        <a class="remove-from-cart-mark">&times;</a>
                    </div>
            </div>
            {% endfor %}
        </div>
        <p style="font-size: 1.1em">Сумма: <span style="font-size: 1.1em" id="total-price">{{ total_price }}</span> р.
        </p>
        <button id="checkout-button" class="checkout-button">Оформить заказ</button>
    </div>
</div>
<!-- Модальное окно оформления заказа -->
<div id="order-modal" class="modal">
    <span class="close-button">&times;</span>
    <div class="modal-content">
        <h2>Оформление заказа</h2>
        <form id="order-form">
        <div class="form-group">
            <label for="name">ФИО:</label>
            <input type="text" id="name" name="name" required class="form-input">
        </div>
        <div class="form-group">
            <label for="phone">Телефон:</label>
            <input type="text" id="phone" name="phone" required class="form-input">
        </div>
        <div class="form-group">
            <label for="promo_code">Промокод:</label>
            <input type="text" id="promo_code" name="promo_code" class="form-input">
        </div>
        <button type="submit" class="form-button">Оформить заказ</button>
    </form>
    </div>
</div>
<!-- В index.html и product.html добавим поле для ввода промокода -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" crossorigin="anonymous"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"></script>
</body>
</html>
