{% extends 'base.html' %}
{% block content %}
<div class="bouquets-container">
    <h1>Букеты</h1>
    <p class="description">Каждый букет мы создаем с особой заботой и вниманием к деталям, как если бы это был подарок
        для себя. Мы используем только самые свежие и качественные цветы, чтобы обеспечить лаконичность и эстетическую
        привлекательность каждой композиции. К каждому букету мы добавляем мини-открытку с теплыми пожеланиями и
        специальную подкормку, которая поможет продлить жизнь цветам, сохраняя их красоту и свежесть надолго. Наши
        флористы тщательно подбирают каждый элемент, чтобы создать гармоничный и уникальный букет, который станет
        идеальным подарком для любого случая.</p>
    <div class="flowers">
        {% for flower in flowers %}
        <a href="{{ url_for('flower', flower_id=flower[0]) }}" class="flower-card">
            <div class="flower-image">
                {% if flower[4] %}
                <img src="../{{ flower[4] }}" alt="{{ flower[1] }}">
                {% else %}
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Placeholder">
                {% endif %}
            </div>
            <div class="flower-info">
                <h2>{{ flower[1] }}</h2>
                <p>{{ flower[2] }}</p>
                <p>Цена: {{ flower[3] }} руб.</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
