{% extends 'base.html' %}
{% block content %}
<div class="bouquets-container">
    <div class="welcome-message">
        <p>
            Цветочный Дом DesFleur — это мир ароматов, красок и эмоций, где создаются уникальные цветочные композиции.
            Наши талантливые флористы предлагают свежие и красивые букеты, а также занимаются оформлением интерьеров,
            праздников и выставочных стендов как в России, так и за рубежом. А также мы продаем цветы оптом.
        </p>
    </div>
    <div class="category-filters">
        <h2>Фильтр по категориям:</h2>
        <ul>
            <li><a href="{{ url_for('index') }}">Все категории</a></li>
            {% for category in categories %}
            <li><a href="{{ url_for('index') }}?category={{ category }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% for category, flowers in grouped_flowers.items() %}
    <h2>{{ category }}</h2>
    <div class="flowers">
        {% for flower in flowers %}
        <a href="{{ url_for('flower', flower_id=flower[0]) }}" class="flower-card">
            <div class="flower-image">
                {% if flower[4] %}
                {% set image_paths = flower[4].split(',') %}
                <img src="../{{ image_paths[0] }}" alt="{{ flower[1] }}"
                     style="width: 100%; height: auto;">
                {% else %}
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Placeholder">
                {% endif %}
            </div>
            <div class="flower-info">
                <h2>{{ flower[1] }}</h2>
                <p>Цена: {{ flower[3] }} руб.</p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
