{% extends 'base.html' %}
{% block content %}
<div class="bouquets-container">
    <div class="welcome-message">
        <p>
            Цветочный Дом DesFleur — это не просто место, где продают букеты. Это целый мир, наполненный ароматами,
            красками и эмоциями. Здесь рождаются маленькие чудеса, способные растопить любое сердце и украсить любой
            праздник. Мы предлагаем самые свежие и красивые цветочные композиции, созданные с любовью нашими
            талантливыми флористами.
        </p>
        <p>
            Помимо сети цветочных салонов, наша команда флористов-декораторов занимается абсолютно любым оформлением
            интерьера, праздников, входных групп ресторанов и бутиков, лобби гостиниц, выставочных стендов как в России,
            так и за рубежом.
        </p>
        <p>
            Кроме того, наш торговый дом занимается оптовой продажей свежих цветов.
        </p>
    </div>
    <div class="category-filters">
        <h2>Фильтр по категориям:</h2>
        <ul>
            <li><a href="{{ url_for('index') }}">Все категории</a></li>
            {% for category in categories %}
            <li><a href="{{ url_for('index') }}?category={{ category }}">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% for category, flowers in grouped_flowers.items() %}
    <h2>{{ category }}</h2>
    <div class="flowers">
        {% for flower in flowers %}
        <a href="../{{ flower[0] }}" class="flower-card">
            <div class="flower-image">
                {% if flower[4] %}
                {% set image_paths = flower[4].split(',') %}
                <img src="../{{ image_paths[0] }}" alt="{{ flower[1] }}"
                     style="width: 100%; height: auto;">
                {% else %}
                <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="Placeholder">
                {% endif %}
            </div>
            <div class="flower-info">
                <h2>{{ flower[1] }}</h2>
                <p>Цена: {{ flower[3] }} руб.</p>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
